@import "../../vendor/bootstrap/less/bootstrap.less";
@import "mixins-custom.less";
@import "variables-custom.less";
@import "theme-custom.less";

/* Put your CSS here */
html, body {
  margin: 20px 0;
  background-image:url('/assets/images/cream_dust.png');
  background-repeat:repeat;
  background-color: #f9f9f9;
}

.jumbotron{
  padding-top: 60px;
  padding-bottom: 58px;
  text-align: center;
  background-image:url('/assets/images/triangular_green13.png');
  background-repeat:repeat; 
  color: #fee;
  //text-shadow: 2px 2px #222;
  text-shadow: 0 -1px 0 #888;
  h1{
    font-size: 2.1em;
    letter-spacing: 3px;
    
  }
  
  h2{
    font-size: 1.1em;
    font-weight: normal;
  }
  
  a{
    color: lighten(#1D77CC, 5%);
    text-shadow: none;//1px 1px lighten(#1D77CC, 10%);
  }
}

.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 6px solid;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  margin-top: -3px;
}

.navbar-colour{
  a{
    color: #222;
  }
  border-width: 0;
  #gradient > .vertical(@start-color: lighten(#f7d15d, 0%); @end-color: darken(#f7d15d, 10%));
}

.thumbnail-small{
  width: 75px;
  height: 75px;
  float: left;
  padding: 0;
}