<div class="container">
  <h2>Contact Information</h2>
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ming Lin</td>
            <td><a href="mailto:lin@cs.unc.edu?Subject=Adaptive-Route-Planning" target="_top">lin@cs.unc.edu</a></td>
          </tr>
        </tbody>
      </table>
      
      <table class="table">
        <thead>
          <tr>
            <th>Team</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Markus Padourek</td>
            <td>padourek@live.unc.edu <br />
            (919)593-1301</td>
          </tr>
          <tr>
            <td>Jinjing Ma</td>
            <td>jinjingm@cs.unc.edu <br />
            (919)402-7023</td>
          </tr>
          <tr>
            <td>Sarah Levine</td>
            <td>skl407@live.unc.edu <br />
            (919)601-8440</td>
          </tr>
          <tr>
            <td>Leigh Pember</td>
            <td>pember@live.unc.edu <br />
            (910)638-5520</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>