<div class="jumbotron">
  <div class="container">
  <h1>
    Adaptive Route Planning
  </h1>
  <p>
The UNC GAMMA Research	Group is developing an Android-based platform for adaptive vehicle route planning using real-time traffic information that will predict the future traffic for the vehicles entering the road network based on existing traffic condition and select the optimal routes for the drivers. The system also takes into account the effects of the vehicles that adopt the planned routes and consequently affecting the future traffic for the future adopters. This project is to develop an iPhone App to port this Android-based mobile system to iPhone (with iOS).
  </p>
  </div>
</div>
