<div class="">
  <ul>
  {{#each}}
    <li>{{this}}</li>
  {{/each}}
  </ul>
  <button class="btn btn-default">Cliquez ici</button>
  <button class="btn btn-primary">Cliquez ici</button>
  <button class="btn btn-info">Cliquez ici</button>
  <button class="btn btn-warning">Cliquez ici</button>
  <button class="btn btn-danger">Cliquez ici</button>
  <button class="btn btn-success">Cliquez ici</button>
</div>
