<div class="container">
    <h2>Milestones</h2>
    <img src="https://lh5.googleusercontent.com/XzbJ9Mu1i6uR0qWm9HaXg5xW1JH6Xme6QQu67wyrNO2lxb1tXn6ulRgCl22Aft6TsoSDMZpIGLc" alt="">
    <br />    
    <iframe width='90%' height='500' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Aj9P0KpCNQvCdE5VaWg3SkppMEo5OThPUWc1dWlpbnc&output=html&widget=true'></iframe>
</div>