<div class="container">
    <h2>Milestones</h2>
    
    <iframe width='90%' height='500' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Aj9P0KpCNQvCdE5VaWg3SkppMEo5OThPUWc1dWlpbnc&output=html&widget=true'></iframe>
</div>