<div class="container">
  <h2>Team Roles</h2>
  <p>
    Markus Padourek: Chief Developer/Technical Lead
  </p>
  <p>
    Jinjin Ma: Chief Editor
  </p>
  <p>
    Sarah Levine: Client Manager/Communication Lead
  </p>
  <p>
    Leigh Pember: Program Manager
  </p>
</div>