<div class="container">
  <h2 name="roles" id="roles">Team Roles</h2>
  <p>
    <img src="/assets/images/portrait-markus5150.jpg" alt="..." class="thumbnail thumbnail-small">
    Markus Padourek: Chief Developer/Technical Lead
  </p>
  <p>
    Sarah Levine: Client Manager/Communication Lead
  </p>
  <p>
    Leigh Pember: Chief Editor/Program Manager
  </p>
</div>