<div class="container">
  <h2>The Rules</h2>
  <p>
    Group members will respond to emails and SMS Texts within 24 hours and will notify the group if they will be unable to make a meeting at least 24 hours prior to the meeting, if possible.  If something comes up less than 24 hours prior to the meeting, text messages should be used.  If it becomes a possibility a team member will be unable to accomplish a set goal, the team should be notified immediately.
In the case the team begins to fall behind its development timeline, it will organize additional group meetings to work on addressing the issue(s) which are slowing 
down the development process.
All emails to the client or professor should have the entire team CC’d.
  </p>
  <h2>The Coding Style</h2>
  <a href="https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/CodingGuidelines/CodingGuidelines.html">
    https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/CodingGuidelines/CodingGuidelines.html
  </a>
</div>