<div class="container">
  <h2>
    Schedule of Regular Meetings
  </h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>With Instructor</th>
            <th>With Client</th>
            <th>Team</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fri 2pm</td>
            <td>Biweekly meetings</td>
            <td>Wed 3-5pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <iframe width='80%' height='500' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Aj9P0KpCNQvCdFpBVGNTSVM5WnhWM1QyN2FXTmwtaEE&output=html&widget=true'></iframe>
    </div>  
  </div>
</div>