<div class="container">
  <h2>
    Schedule of Regular Meetings
  </h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>With Instructor</th>
            <th>With Client</th>
            <th>Team</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fri 2pm</td>
            <td>Biweekly meetings</td>
            <td>Wed 3-5pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>