 <div class="container">
  <h2>The Team</h2>
  <p><strong>Group Email:</strong> <a href="mailto:arp.comp523@emaildodo.com?Subject=Adaptive-Route-Planning" target="_top">arp.comp523@emaildodo.com</p>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
          <tr>
            <td>
              <img src="/assets/images/portrait-markus150.jpg" alt="Markus" class="thumbnail thumbnail-small">
            </td>
            <td>Markus Padourek</td>
            <td>
            <a href="mailto:padourek@live.unc.edu?Subject=Adaptive-Route-Planning" target="_top">padourek@live.unc.edu</a>
            <br />
            (919)593-1301
            </td>
            <td>Chief Developer / Technical Lead</td>
          </tr>
          <tr>
            <td>
              <img src="/assets/images/portrait-sarah150.jpg" alt="Sarah" class="thumbnail thumbnail-small">
            </td>
            <td>Sarah Levine</td>
            <td>
              <a href="mailto:skl407@live.unc.edu?Subject=Adaptive-Route-Planning" target="_top">skl407@live.unc.edu</a>
              <br />
              (919)601-8440
            </td>
            <td>Client Manager / Communication Lead</td>
          </tr>
          <tr>
            <td>
              <img src="/assets/images/portrait-leigh150.jpg" alt="Leigh" class="thumbnail thumbnail-small">
            </td>
            <td>Leigh Pember</td>
            <td>
              <a href="mailto:pember@live.unc.edu?Subject=Adaptive-Route-Planning" target="_top">pember@live.unc.edu</a>
              <br />
              (910)638-5520
            </td>
            <td>Chief Editor</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


 <div class="container">
  <h2>The Client</h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <img src="/assets/images/portrait-ming150.jpg" alt="Sarah" class="thumbnail thumbnail-small">
            </td>
            <td>Ming Lin</td>
            <td><a href="mailto:lin@cs.unc.edu?Subject=Adaptive-Route-Planning" target="_top">lin@cs.unc.edu</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>